# Du traitement des donnée en tables aux bases de données - <span style="color:blue;">CORRECTION</span>

**Ressources** : <button><a href="https://info.blaisepascal.fr/nsi-traitement-des-donnees-en-tables" target="_blank">Traitement de données en tables</a></button> <button><a href="https://webge.fr/dokuwiki/doku.php?id=python:accueilpython" target="_blank">Wiki Python sur WebGE</button>

**Sommaire**
<ol>
    <li>Généralités</li>
    <ol>
        <li>Historique</li>
        <li>Organisation d'une table</li>
        <li>Objectifs</li>
    </ol>
    <li>Construction d'une table et traitement de ses données</li>
    <ol>
        <li>Construction</li>
        <li>Traitement des données</li>
    </ol>
</ol>

----

<table>
    <tr>
        <td><img src="img/bdd50px.png"></td>
        <td style="text-align:justify; font-size:14px; color:blue;">Cette activité est un préalable aux travaux pratiques sur les <strong>bases de données relationnelles</strong>. Le vocabulaire utilisé (<strong>schéma, attribut, enregistrement, requête, etc.</strong>) est celui employé lors de leur interrogation. A la fin de chaque exercice, la référence faite aux bases de données est identifiée par l'icône ci-contre.</span>
        </td>
    </tr>
</table>

## 1. Généralités
### 1.1 Historique
<table>
    <tr>
        <td style="text-align:left; font-size:14px"><p>L'<strong>organisation tabulaire des données</strong> est très répandue. Les tables documentées les plus anciennes sont des livres de comptes déjà présents dans l'<strong>Égypte des pharaons</strong>. </p><p><strong>Aujourd'hui</strong>, cette organisation est utilisée par les bulletins scolaires, les résultats de match ou les relevés d'un compte bancaire qui indiquent pour chaque opération, sa date, son montant et sa nature (débit ou crédit).</p><p>En informatique, la manipulation de <strong>données en tables</strong> depuis un langage de programmation est utilisée dans de nombreux domaines : <strong>calcul scientifique, intelligence artificielle, programmation Web, bio-informatique, informatique financière, etc</strong>. </p> 
        </td>
        <td> <img src="img/papyrus.png" title="Livre de comptes - Egypte ancienne"></td>
    </tr> 
</table>

### 1.2 Organisation d'une table
Dans ce notebook, les tables représentent des **collections d'éléments**. Une **ligne** est un élément enregistré dans la collection ou **enregistrement**. Les **colonnes** sont les **attributs** d'un élément (également notées champs ou descripteurs). La première ligne est le **schéma de la table**.

<div style="text-align:center"><img src="img/table.png"></div>

### 1.3 Objectifs
On veut **construire** la table de données ci-dessous à partir d'un fichier <a href="https://fr.wikipedia.org/wiki/Comma-separated_values" target="_blank">CSV</a> et **coder** des **requêtes** en Python répondant à des **interrogations** telles que :
* Le prénom "Brian" est-il dans la table ?
* Quels scientifiques ont pour prénom Alan ?
* Quels sont le nom et le prénom des scientifiques nés entre 1900 et 1920,
etc.

<div style="text-align:center"><img src="img/scientifiques.png" title="table partielle"></div>

## 2. Construction d'une table et traitement de ses données
### 2.1 Construction
La première opération concernant les données en table est le **chargement des données**. Celles-ci sont souvent chargées à partir d'un fichier au format <a href="https://fr.wikipedia.org/wiki/Comma-separated_values" target="_blank">CSV</a> (**Comma-Separated Values**) relativement simple :
* les fichiers CSV sont des fichiers texte,
* chaque ligne du fichier correspond à une ligne de la table,
* chaque ligne est séparée en champs au moyen d'une virgule, d'un point-virgule ou d'une barre verticale,
* toutes les lignes du fichier ont le même nombre d'attributs,
* la première ligne peut représenter des noms d'attributs ou commencer directement avec les données,
* on peut utiliser des guillemets pour délimiter le contenu des attributs.

La **bibliothèque standard** Python propose un module **csv** contenant des fonctions pour lire et écrire des fichiers CSV.

Le code suivant charge le contenu du fichier *scientifiques.csv* dans une variable nommée *scientifiques*. **Exécutez-le**.

In [ ]:
import csv
with open('scientifiques.csv',encoding='utf-8') as fichier:
    scientifiques = list(csv.DictReader(fichier, delimiter=";"))
print(scientifiques)

<table>
    <tr>
        <td><img src="img/info.png"></td>
        <td style="text-align:left; font-size:14px;">La fonction <strong>DictReader</strong> renvoie des dictionnaires <a href="https://docs.python.org/fr/3/library/collections.html" target="_blank">ordonnés</a> que nous utiliserons comme des dictionnaires. La variable <em><strong>scientifiques</strong></em> contient donc un tableau de dictionnaires. On constate que le <strong>schéma de la table</strong> n'est pas stocké dans le tableau, mais a été utilisé pour <strong>créer les clés des dictionnaires</strong>.
        </td>
    </tr>
</table>

<table>
    <tr>
        <td><img src="img/refexion.png"></td>
        <td style="text-align:left; font-size:14px;"><strong>DictReader</strong> charge les données dans la table sous la forme de <strong>chaînes de caractères</strong>. Pour les utiliser en tant que nombres, comme les attributs <em>jour</em>, <em>mois</em> et <em>année</em>, pour les comparer ou faire des opérations, il faut les convertir ( on dit aussi transtyper ).
<ul>
    <li>La fonction int() convertit une donnée en entier.</li>
    <li>La fonction float() convertit une donnée en décimal.</li>
</ul> 
On propose le code ci-dessous. <strong>Exécutez-le</strong>.
        </td>
    </tr>
</table>

In [ ]:
def valide(enregistrement):  # Validation des données : transtypage
    nom = enregistrement['nom']
    prenom = enregistrement["prenom"]
    jour = int(enregistrement["jour"])
    mois = int(enregistrement["mois"])
    annee = int(enregistrement["annee"])
    projet = enregistrement["projet"]
    return{"nom": nom, "prenom": prenom, "jour": jour, "mois": mois, "annee": annee, "projet": projet}

scientifiques = [valide(enregistrement) for enregistrement in scientifiques]
print(scientifiques)

<table>
    <tr>
        <td><img src="img/refexion.png"></td>
        <td style="text-align:left; font-size:14px;">Vous noterez que les <strong>nombres</strong> situés dans la table <em>scientifiques</em> <strong>ne sont plus entourés par des guillemets</strong> ! 
        </td>
    </tr>
</table>

### 2.2 Traitement des données
Une fois les données chargées dans une table, il devient possible de les **traiter** à l'aide des fonctions de manipulation de tableaux. On peut ainsi réaliser des **opérations** telles que : 
* extraire des données de la table, 
* tester la présence de certaines d'entre-elles,
* faire des statistiques.

<table>
    <tr>
        <td><img src="img/bdd50px.png"></td>
        <td style="text-align:left; font-size:14px">Lorsque nous utiliserons une base de données et le langage  <strong>SQL</strong>, ce type d'opération sera appelé <strong>REQUÊTE</strong>. </td>
    </tr>
 </table>

#### Exercice 1. Un prénom est-il présent dans la table ?
> On cherche à répondre à une question du type : "<span style="color:blue;font-style:italic">Y a t'il au moins une personne ayant pour prénom Brian dans la table ?</span>" <br>
>
> **Complétez** la fonction ***selection_prenom**(prenom, table)* dans le cadre ci-dessous pour qu'elle renvoie "Vrai" si le prénom passé en paramètre est présent dans la table et "Faux" sinon.
>
> *Exemples de résultats attendus*<br>
> - Entrer un prénom : Brian <br>
>      => Il y a au moins un(e) Brian dans la table. <br>
> - Entrer un prénom : Audrey <br>
>      => Aucun(e) Audrey n'est dans la table.<br>
>
> **=> : indique le résultat à renvoyer**

<table>
    <tr>
        <td><img src="img/info.png"></td>
        <td style="text-align:left; font-size:14px;">Python est un langage à <strong>typage dynamique</strong>, c'est-à-dire qu'il n'est pas nécessaire de préciser le type des données. Depuis la version 3.5, il est possible de fournir des <strong>indicateurs de type (str,bool, etc.)</strong> lors de la définition des fonctions. Cette possibilité est utilisée dans ce notebook pour faciliter la compréhension du code.
        </td>
    </tr>
</table>

In [ ]:
# CORRECTION
def selection_prenom(prenom: str, table: list) -> bool: # prenom est de type chaîne de caractères, table est de type liste, 
                                                        # la fonction renvoie un booléen
    for enregistrement in table:                        # Sélection des enregistrements dans la table
        if enregistrement["prenom"].lower() == prenom.lower(): 
            return True                                 # si le prénom est celui passé en paramètre alors on renvoie Vrai
    return False                                        # sinon on renvoie Faux

# Affichage à compléter
prenom = input("Entrer un prénom : ")
if (selection_prenom(prenom, scientifiques)):
    print(f"Il y a au moins un(e) {prenom} dans la table.")
else:
    print(f"Aucun(e) {prenom} n'est dans la table.")

<table>
    <tr>
        <td><img src="img/refexion.png"></td>
        <td style="text-align:left; font-size:14px;">La fonction <em><b>selection_prenom</b>(prenom, table)</em> peut être améliorée en renvoyant le nombre de fois qu'un même prénom est présent dans la table. <strong>Faites</strong> cette amélioration en complétant le code de la fonction <em><b>selection_compte_prenom</b>(prenom, table)</em> ci-dessous.
        </td>
    </tr>
</table>

In [ ]:
# CORRECTION
def select_compte_prenom(prenom: str, table: list) -> int:  # renvoie le nombre nb d'occurence du prénom dans la table
    nb = 0
    for enregistrement in table:
        if (enregistrement["prenom"]).lower() == prenom.lower():
            nb += 1
    return nb

# Affichage à compléter
prenom = input("Entrer un prénom : ")
print(f"Il y a {select_compte_prenom(prenom,scientifiques)} {prenom} dans la table")

<table>
    <tr>
        <td><img src="img/bdd50px.png"></td>
        <td style="text-align:left; font-size:14px">Dans le langage SQL la requête <em><strong>SELECT COUNT</strong>(attribut) <strong>FROM</strong> table <strong>WHERE</strong> attribut=valeur</em>, appliquée à la table <em>scientifiques<em> (contenue dans une base de données), donnerait le même résultat. <br><br> Exemple <br><em><strong>SELECT COUNT</strong>(prenom) <strong>FROM</strong> scientifiques <strong>WHERE</strong> prenom="Brian"</em> <br>renvoie 1.</td>
        <td><img src="img/ex1sql.png" title="Sqlite & VSCode"></td>
    </tr>
 </table>

#### Exercice 2. Sélection du(es) nom(s) correspondant à un prénom<br>
> On cherche à répondre à une question du type  : "<span style="color:blue;font-style:italic">Quel est le nom du(es) scientifique(s) ayant pour prénom Brian ?</span>" <br>
>
> **Complétez** la fonction ***selection_nom**(prenom, table)* pour qu'elle renvoie la liste des noms des scientifiques ayant pour prénom celui passé en paramètre.
>
> *Exemples de résultats attendus*<br>
> - Entrer un prénom : Brian => ['Kernighan'] <br>
> - Entrer un prénom : Alan => ['Turing', 'Perlis'] <br>
> - Entrer un prénom : Audrey => []
>
> **=> : indique le résultat à renvoyer**

In [ ]:
# CORRECTION
def selection_nom(prenom: str, table: list) -> list:
    t = [] # tableau recevant le(s) nom(s) correspondant au prénom

    for enregistrement in table:
        if enregistrement["prenom"].lower() == prenom.lower():
            t.append(enregistrement["nom"])

    # ou [t.append(enregistrement["nom"]) for enregistrement in table if enregistrement["prenom"] == prenom]
    return t

# Affichage à compléter
prenom = input("Entrer un prénom : ")
selection_nom(prenom,scientifiques)

<table>
    <tr>
       <td><img src="img/bdd50px.png"></td>
        <td style="text-align:left; font-size:14px">Dans le langage SQL la requête <em><strong>SELECT</strong> attribut1, attribut2, ..., attributn <strong>FROM</strong> table <strong>WHERE</strong> attribut=valeur</em>, appliquée à la table <em>scientifiques<em>, donnerait le même résultat.<br><br>Exemple <br> <em><strong>SELECT </strong>nom <strong>FROM</strong> scientifiques</em> <strong>WHERE</strong> prenom="Alan"</em> <br> renvoie Turing, Perlis.</td>
        <td><img src="img/ex2sql.png" title="Sqlite & VSCode"></td>
    </tr>
 </table>

<table>
    <tr>
        <td><img src="img/refexion.png"></td>
        <td style="text-align:left; font-size:14px;">La fonction <em><b>selection_nom</b>(prenom, table)</em> sélectionne l'attribut <em>nom</em> des personnes avec le même prénom. Dans le prochain exercice, vous allez généraliser ce cas particulier à tous les attributs de la table. 
        </td>
    </tr>
</table>

#### Exercice 3. Sélection d'un attribut en fonction de la valeur d'un autre<br>
> On souhaite répondre aux questions suivantes en utilisant la **même** fonction : <br>
> * <span style="color:blue;font-style:italic">Quel est le prénom des scientifiques nés en juin ?</span> 
> * <span style="color:blue;font-style:italic">Quel est le nom des scientifiques dont le prénom est Alan ?</span>
> * <span style="color:blue;font-style:italic">Quel est le nom des scientifiques nés le premier jour du mois ?</span> etc.<br>

>**Complétez** la fonction ***selection**(attribut1,table,attribut2,valeur)* pour qu'elle renvoie la liste du ou des attribut1 pour laquelle attribut2 = valeur.
>
> *Exemples de résultats attendus*<br>
> - Prénom des scientifiques nés en juin => ['Alan', 'Blaise'] <br>
> - Nom des scientifiques dont le prénom est Alan => ['Turing', 'Perlis'] <br>
> - Nom des scientifiques nés le premier jour du mois => ['Kernighan', 'Perlis']
>
> **=> : indique le résultat à renvoyer**

In [ ]:
# CORRECTION
def selection(attribut1: str, table: list, attribut2: str, valeur) -> list:
    t = []  # tableau contenant la ou les valeurs de attribut1 pour attribut2 = valeur

    for enregistrement in table:
        if enregistrement[attribut2] == valeur:
            t.append(enregistrement[attribut1])
   
    # [t.append(enregistrement[attribut1]) for enregistrement in table if enregistrement[attribut2] == valeur]
    return t

# Affichage à compléter
# 1. Prénom des scientifiques nés en juin
print(selection("prenom", scientifiques, "mois", 6))
# 2. Nom des scientifiques dont le prénom est Alan
print(selection("nom",scientifiques,"prenom","Alan"))
# 3. Nom des scientifiques nés le premier jour du mois
print(selection("nom", scientifiques, "jour", 1))

<table>
    <tr>
        <td><img src="img/bdd50px.png"></td>
        <td style="text-align:left; font-size:14px">Dans le langage SQL la requête <em><strong>SELECT</strong> attribut1, attribut2, ..., attributn <strong>FROM</strong> table <strong>WHERE</strong> attribut=valeur</em>, appliquée à la table <em>scientifiques<em>, donnerait le même résultat.<br><br> Exemple avec résultat partiel <br> <em><strong>SELECT </strong>nom <strong>FROM</strong> scientifiques <strong>WHERE</strong> mois=6</em> <br>renvoie Alan, Blaise, Tim.</td>
        <td><img src="img/ex3sql.png" title="Sqlite & VSCode"></td>
    </tr>
 </table>

<table>
    <tr>
        <td><img src="img/refexion.png"></td>
        <td style="text-align:left; font-size:14px;">La fonction <em><b>selection</b>(attribut1,table,attribut2,valeur)</em> renvoie les données de la colonne <em>attribut1</em> pour lesquelles <em>attribut2=valeur</em>. Il pourrait être intéressant de renvoyer des données situées dans plusieurs colonnes. C'est le travail demandé dans le prochain exercice.
        </td>
    </tr>
</table>

#### Exercice 4. Sélection de plusieurs attributs en fonction de la valeur d'un autre 
> On cherche à répondre à une question du type : "<span style="color:blue;font-style:italic">Quels sont le nom et le prénom des scientifiques nés le premier jour du mois ?</span>"
>
>**Complétez** la fonction ***selection2**(lstattrib,table,attribut,valeur)* pour qu'elle renvoie les valeurs des attributs situés dans la liste *lstattrib* si attribut = valeur.
>
> *Exemples de résultats attendus*<br>
> - Nom et prénom des scientifiques nés le premier jour du mois => [['Kernighan', 'Brian'], ['Perlis', 'Alan']]<br>
> - Nom, prénom et projet des scientifiques nés en juin => [['Turing', 'Alan', 'codes secrets'], ['Pascal', 'Blaise', 'machine arithmétique']]
>
> **=> : indique le résultat à renvoyer**

In [ ]:
# A CORRECTION
def selection2(lstattrib: list, table: list, attribut: str, valeur) -> list:
    t = []
    tt = []
    for enregistrement in table:
        if enregistrement[attribut] == valeur:
            for atbut in lstattrib:
                t.append(enregistrement[atbut])
            tt.append(t.copy())
            t.clear()
    return tt

# Affichage à compléter
# 1. Nom des scientifiques dont le prénom est Alan
print(selection("nom",scientifiques,"prenom","Alan"))
# 2. Nom et prénom des scientifiques nés le premier jour du mois
t_attributs=["nom","prenom"]
print(selection2(t_attributs,scientifiques,"jour", 1))
# 3. Nom, prénom et projet des scientifiques nés en juin
t_attributs=["nom","prenom","projet"]
print(selection2(t_attributs,scientifiques,"mois", 6))

<table>
    <tr>
       <td><img src="img/bdd50px.png"></td>
        <td style="text-align:left; font-size:14px">Dans le langage SQL la requête <em><strong>SELECT</strong> attribut1, attribut2, ..., attributn <strong>FROM</strong> table <strong>WHERE</strong> attribut=valeur</em>, appliquée à la table scientifiques, nous permettrait d'obtenir le même résultat. <br><br> Exemple <br> <em><strong>SELECT </strong>nom, prenom <strong>FROM</strong> scientifiques <strong>WHERE</strong> jour=1</em> <br> renvoie ['Kernighan', 'Brian'], ['Perlis', 'Alan'].</td>
        <td><img src="img/ex4sql.png" title="Sqlite & VSCode"></td>
    </tr>
 </table>

#### Exercice 5. Sélection d'attributs et comparaisons
> On cherche à répondre à une question du type : "<span style="color:blue;font-style:italic">Quels sont le nom et le prénom des scientifiques nés avant 1900 ?</span>"
>
> Les comparaisons à prendre en compte sont : **>, <, ==, >=, <=** et seront notées respectivement 1, 2, 3, 4, et 5.
>
>**Créez** la fonction ***selection3(lstattrib,table,attribut,comparaison,valeur)*** dans le cadre ci-dessous.<br>
>
> *Exemples d'affichages attendus*<br>
> - Nom et prénom des scientifiques nés avant 1900 => [['Pascal', 'Blaise'], ['Jacquard', 'Joseph Marie']] <br>
> - Nom et prénom des scientifiques nés après 1920 => [['Kernighan', 'Brian'], ['Torvald', 'Linus'], ['Knuth', 'Donald'], ['Hamilton', 'Margaret'], ['Perlis', 'Alan']] <br>
> - Nom, prénom et projet des scientifiques nés en juin => [['Turing', 'Alan', 'codes secrets'], ['Pascal', 'Blaise', 'machine arithmétique']]

In [ ]:
# CORRECTION Version 1 partielle

def selection3(lstattrib: list, table: list, attribut: int, opcomparaison: int, valeur: int) -> list:
    t = []
    tt = []
    for enregistrement in table:
        if opcomparaison == 1:  # supérieur
            if enregistrement[attribut] > valeur:
                for atbut in lstattrib:
                    t.append(enregistrement[atbut])
                tt.append(t.copy())
                t.clear()
        elif opcomparaison == 2:  # inférieur 
            if enregistrement[attribut] < valeur:
                for atbut in lstattrib:
                    t.append(enregistrement[atbut])
                tt.append(t.copy())
                t.clear()
        elif opcomparaison == 3:  # égale
            if enregistrement[attribut] == valeur:
                for atbut in lstattrib:
                    t.append(enregistrement[atbut])
                tt.append(t.copy())
                t.clear()
        # etc.
    return tt

# Affichage
operation = {"sup": 1, "inf": 2, "egal": 3, "supegal": 4, "infegal": 5}
t_attributs = ["nom", "prenom"]
# 1. Nom et prénom des scientifiques nés avant 1900
print(selection3(t_attributs, scientifiques, "annee", operation["inf"], 1900))
# 2. Nom et prénom des scientifiques nés après 1920
print(selection3(t_attributs, scientifiques, "annee", operation["sup"], 1920))
# 3. Nom, prénom et projet des scientifiques nés en juin
t_attributs=["nom","prenom","projet"]
print(selection3(t_attributs,scientifiques,"mois", operation["egal"], 6))

<table>
    <tr>
        <td><img src="img/bdd50px.png"></td>
        <td style="text-align:left; font-size:14px">Dans le langage SQL la requête <em><strong>SELECT</strong> attribut1, attribut2, ..., attributn <strong>FROM</strong> table <strong>WHERE</strong> attribut opcomp valeur</em>, appliquée à la table scientifiques, donnerait le même résultat. <br><br> Exemple avec affichage partiel <br> <em><strong>SELECT </strong>nom, prenom <strong>FROM</strong> scientifiques <strong>WHERE</strong> annee < 1900</em> <br> renvoie ['Pascal', 'Blaise'], ['Jacquard', 'Joseph Marie'], ['Lovelace', 'Ada'], ['Babbage', 'Charles'], ['Boole', 'George'].</td>
        <td><img src="img/ex5sql.png"></td>
    </tr>
 </table>

In [ ]:
# Correction Version 2 !!!!

tt = [] # liste de listes contenant le résultat de la requête

def addenreg(enregistrement: dict, attribut: int, lstattrib: list) -> list:
    t = [] # Une sélection prise dans un enregistrement satisfaisant la comparaison
           # faite dans selection3
    for atbut in lstattrib:
        t.append(enregistrement[atbut])
    tt.append(t.copy())
    t.clear()

def selection3V2(lstattrib: list, table: list, attribut: int, opcomparaison: int, valeur: int) -> list:
    tt.clear()
    for enregistrement in table:
        if opcomparaison == 1:  # supérieur
            if enregistrement[attribut] > valeur:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaison == 2:  # inférieur
            if enregistrement[attribut] < valeur:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaison == 3:  #  égal
            if enregistrement[attribut] == valeur:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaison == 4:  # supérieur ou égal
            if enregistrement[attribut] >= valeur:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaison == 5:  # inférieur ou égal
            if enregistrement[attribut] <= valeur:
                addenreg(enregistrement, attribut, lstattrib)
    return tt

# Affichage
operation = {"sup": 1, "inf": 2, "egal": 3, "supegal": 4, "infegal": 5}
t_attributs = ["nom", "prenom"]
# 1. Nom et prénom des scientifiques nés avant 1900
print(selection3V2(t_attributs, scientifiques, "annee", operation["inf"], 1900))
# 2. Nom et prénom des scientifiques nés après 1920
print(selection3V2(t_attributs, scientifiques, "annee", operation["sup"], 1920))
# 3. Nom, prénom et projet des scientifiques nés en juin
t_attributs=["nom","prenom","projet"]
print(selection3V2(t_attributs,scientifiques,"mois", operation["egal"], 6))

#### Activité 6. Sélection d'attributs et encadrements
> On souhaite répondre à une question du type : "<span style="color:blue;font-style:italic">Quels sont le nom et le prénom des scientifiques nés entre 1900 et 1920 ?</span>"
>
> Les comparaisons à prendre en compte sont : <strong>aucune, >, <, ==, >=, <=</strong> et seront notées respectivement 0, 1, 2, 3, 4, et 5. <br>
>
> **Complétez** la fonction ***selection4**(lstattrib,table,attribut,opcomparaisoninf,opcomparaisonsup,valeurmin,valeurmax)* dans le cadre ci-dessous.<br>
> - *opcomparaisoninf* : opération de comparaison avec la borne inférieure. <br>
> - *opcomparaisonsup* : opération de comparaison avec la borne supérieure. <br>
>
> *Exemples de résultats attendus*<br>
> - Nom et prénom des scientifiques nés avant 1900 => [['Pascal', 'Blaise'], ['Jacquard', 'Joseph Marie']] <br>
> - Nom et prénom des scientifiques nés entre 1900 (inclus) et 1920 (inclus) => [['Hopper', 'Grace'], ['Turing', 'Alan']] <br>
> - Nom, prénom et date de naissance des scientifiques nés entre le premier (compris) et le 15 (exclus) du mois
>     => [['Kernighan', 'Brian', 1, 1, 1942], ['Hopper', 'Grace', 9, 12, 1906], ['Knuth', 'Donald', 10, 1, 1938], ['Perlis', 'Alan', 1, 4, 1922], ['Jacquard', 'Joseph Marie', 7, 7, 1752]]
>
> **=> : indique le résultat à renvoyer**

In [ ]:
# CORRECTION
def selection4(lstattrib: list, table: list, attribut: int, opcomparaisoninf: int, opcomparaisonsup:int, 
               valeurmin: int, valeurmax: int) -> list:
    tt.clear()
    for enregistrement in table:
        if opcomparaisoninf == 1 and opcomparaisonsup == 0:  # supérieur & aucune
            if enregistrement[attribut] > valeurmin:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaisoninf == 2 and opcomparaisonsup == 0:  # inférieur & aucune
            if enregistrement[attribut] < valeurmin:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaisoninf == 3 and opcomparaisonsup == 0:  # égal & aucune
            if enregistrement[attribut] == valeurmin:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaisoninf == 4 and opcomparaisonsup == 0:  # supérieur ou égal & aucune
            if enregistrement[attribut] >= valeurmin:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaisoninf == 5 and opcomparaisonsup == 0:  # inférieur ou égal & aucune
            if enregistrement[attribut] <= valeurmin:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaisoninf == 4 and opcomparaisonsup == 5:  # supérieur ou égal & inférieur ou égal
            if enregistrement[attribut] >= valeurmin and enregistrement[attribut] <= valeurmax:
                addenreg(enregistrement, attribut, lstattrib)
        elif opcomparaisoninf == 4 and opcomparaisonsup == 2:  # supérieur ou égal & inférieur
            if enregistrement[attribut] >= valeurmin and enregistrement[attribut] < valeurmax:
                addenreg(enregistrement, attribut, lstattrib)
        # etc.
    return tt

# Affichage
operation = {"aucune": 0, "sup": 1, "inf": 2, "egal": 3, "supegal": 4, "infegal": 5}
t_attributs = ["nom", "prenom"]
# 1. Nom et prénom des scientifiques nés avant 1900
print(selection4(t_attributs, scientifiques, "annee", operation["inf"], operation["aucune"], 1900,0))
# 2. Nom et prénom des scientifiques nés après 1920
print(selection4(t_attributs, scientifiques, "annee", operation["sup"], operation["aucune"], 1920 , 0))
# 3. Nom et prénom des scientifiques nés entre 1900 et 1920
print(selection4(t_attributs, scientifiques, "annee", operation["supegal"], operation["infegal"], 1900 , 1920))
# 4. Nom, prénom et date de naissance des scientifiques nés entre le premier (compris) et le 15 (exclus) du mois
t_attributs = ["nom", "prenom","jour","mois","annee"]
print(selection4(t_attributs, scientifiques, "jour", operation["supegal"], operation["inf"], 1 , 15))

<table>
    <tr>
       <td><img src="img/bdd50px.png"></td>
        <td style="text-align:left; font-size:14px">Dans le langage SQL la requête <em><strong>SELECT</strong> attribut1, attribut2, ..., attributn <strong>FROM</strong> table <strong>WHERE</strong> attribut opcomp1 valeur1</em> AND attribut opcomp2 valeur2 </em>, appliquée à scientifiques2, donnerait le même résultat. <br><br> Exemple avec affichage partiel <br> <em><strong>SELECT </strong>nom, prenom <strong>FROM</strong> scientifiques2 <strong>WHERE</strong> annee >= 1900 AND annee <= 1920</em> <br> renvoie ['Hopper', 'Grace'], ['Turing', 'Alan'], ['Shannon', 'Claude'].</td>
        <td><img src="img/ex6sql.png"></td>
    </tr>
 </table>